<html>
  <head>
    <title>FCP - Upload</title>
  </head>

  <body>
{#
Add sections here for each API processing step to show the results and status.
unzip/gunzi-tar files
check data file count
check/convert files to proper sysstat format
order files in ascending order
normalize the time interval
build time_template dictionary
    <p>Form data table</p>
    <table border = 1>
      {% for key,value in result.items() %}
        <tr>
          <th> {{key}} </th>
	  <td> {{value}} </td>
	</tr>
      {% endfor %}
    </table>
    <p>Filename table</p>
    <table border = 1>
      {% for value in filenames %}
        <tr>
	  <th> filename </th>
	  <td> {{value}} </td>
	</tr>
      {% endfor %}
    </table>
#}
    <p>Button to process data</p>
    <form method='post' action='http://{{nodename}}:8080/flexperf/process'>
      <input type='submit' value='Process files'>
    </form>
    <p><a href="http://{{nodename}}:8080/flexperf">Return to home</a></p>
    <p>Version {{version}}</p>
  </body>
</html>
